.root{
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0;
}
.root header{
    width: 100%;
    height: 50%;
    display: flex;
}
.root header .naslov{
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    background-color: #3F9AC9;
    color: #ffffff;
    box-shadow: 0 0 15px #777777;
}
.root header .naslovnaTraka{
    flex-grow: 10;
    background-color: #ffffff;
    box-shadow: 0 0 15px #777777;
    z-index: 1;
}
.root main{
    display: flex;
    width: 100%;
    height: 800px;
}
.root main .menu{
    flex-grow: 1;
    background-color: #E8E9EB;
}
.root main .menu .options{
    width: 100%;
    height: 30px;
    line-height: 40px;
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    color: #295B72;
}
.root main .menu #start{
    margin: 30px 0 0 5px;
}
.root main .menu .options i{
    padding: 10px;
}
.root main .menu .options #down{
    padding: 0 0 0 180px;
    
}
.root main .menu .options #down:hover{
    cursor: pointer;
}
.root main .menu #apps .dropmenu{
    width: 312px;
    height: 60px;
    list-style: none;
    font-size: 18px;
}
.root main .menu #apps .dropmenu li{
   height: 25px;
   line-height: 30px;
}
a{
    color: #295B72;
    text-decoration: none;
 }
.root main .sadrzaj{
    flex-grow: 200;
    background-color: #ffffff;
    margin: 30px;
    font-size: 40px;
}
